# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
server/node_modules/

# Build output
dist/
dist-ssr/
client/module/dist/

# Environment files
.env
.env.*.local
*.local

# Editor-specific files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
coverage/
*.tgz
